<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustTransitioningAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A6AD1831ED5C3900010D88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6AD1971ED5C3900010D88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6AD1A21ED5C3900010D88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
